
#page-mod-stepbystep-view {
    scroll-behavior: smooth;
}

#page-mod-stepbystep-view #title {
    display: inline-block;
}

#page-mod-stepbystep-view #stepbystep-progress {
    background: #F2F2F2;
    text-align: center;
    display: inline-grid;
    float: right;
    height: 20px;
    width: 190px;
}

#page-mod-stepbystep-view #stepbystep-progress div {
    background: #DDDDDD;
    height: 20px;
}

#page-mod-stepbystep-view #stepbystep-progress span {
    font-size: 0.9rem;
    margin-top: -18px;
}

#page-mod-stepbystep-view #stepbystep-progress span em {
    font-style: normal;
}

#page-mod-stepbystep-view #content-section #content-items {
    background: #F2F2F2;
    padding: 2rem;
    min-height: 35rem;
}

#page-mod-stepbystep-view #content-section #content-items .content-item {
    display: none;
}

#page-mod-stepbystep-view #content-section #content-items .content-item.active {
    display: block;
}

#page-mod-stepbystep-view #content-section .content-nav #prev {
    float: left;
}

#page-mod-stepbystep-view #content-section .content-nav #next {
    float: right;
}
